<table class="table table-striped">
  <tr>
      <th>Subject</th>
      <th>Grade</th>
      <th>Grade Type</th>
  </tr>
  <% @grades.each do |g| %>
  <tr>
      <td><%= g.subject_name %></td>
      <td><%= g.value %></td>
      <td><%= @@grade_type_descriptions[g.grade_type] %></td>
  </tr>
  <% end %>
</table>

